@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Plus+Jakarta+Sans&family=Poppins&display=swap");

:root {
    --clr-btn: #39B0AC;
    --clr-warning: #FBEBCA;
    --clr-btn-sec: #19DA38;
    --clr-btn-sec-b : #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body{
     font-family: 'Poppins',sans-serif;
     background-color:#F6F6F6;
}

.wrapper{
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    width: 450px;
    height: 450px;
    padding: 2rem;
    margin: 1rem auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.title{
    
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-right: auto;
    
}

.return {
    width: 130px;
    height: 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin-right: auto;
    color: var(--clr-btn);
    cursor: pointer;
}

.nav-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    height: 84px;

}

.wrapper2 {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

.nav-items li {
    margin-top: 1rem;
    list-style: none;
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.header-items {

    width: 450px;
    margin: auto;
    margin-top: 4rem;
}

.nav-items li a {
    color: #000000;
    font-size: 15px;
    font-family: 'Poppins';
    text-decoration: none ;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin : 1rem 0;
}

.form-label {
    font-size: 0.8rem;
    margin-bottom: 0.2rem ;

}

.form-input-a {
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    width: 380px;
    height: 79px;
    
}

.form-input-b {
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    width: 380px;
    height: 45px;
    
}

.form-input-c {
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    width: 380px;
    height: 45px;
    
}

.btn-primary {
    border: none;
    background: var(--clr-btn);
    color:white;
    width: 380px;
    height: 45px;
    font-weight: bold;
    cursor: pointer;
}

.warning {
    font-size: 13px;
    font-weight: 500;
}

.warning-container {
    width: 380px;
    height: 45px;
    border: none;
    background-color: var(--clr-warning);
    margin-top: .5rem;
    padding-top: .7rem;
    text-align: center;

}

.connect-nav {
    border: none;
    background: var(--clr-btn);
    color: white;
    width: 135px;
    height: 45px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.8rem;
    font-family: 'Poppins',sans-serif;
  
}

.foot-wrapper {
    max-width: 2300px;
    height: 182px;
    background-color:  #CBCBCB;
    margin-top: 4rem;
    
}

.table-container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;

}